* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  font-size: 0.751rem;
}

html {
  display: flex;
  width: 100%;
}

body {
  margin: 4rem auto;
  background-image: url(images/bg-pattern-bottom-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28rem;
}

header {
  display: flex;
  flex-direction: column;
  color: hsl(300, 43%, 22%);
}

.customers {
  line-height: 1.5;
  text-align: center;
  text-justify: distribute;
}

main {
  display: flex;
  flex-direction: column;
  color: hsl(300, 43%, 22%);
}

footer {
  margin-top: 5rem;
}

.user-review {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 0.51rem;
  margin: 1rem 0;
  color: hsl(300, 24%, 96%);
  line-height: 1.75;
  font-size: 1rem;
}

.user-avatar {
  border-radius: 50%;
  height: 3rem;
  margin-right: 1.5rem;
}

.user-info {
  display: flex;
  align-items: center;
  line-height: 1.5;
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  color: hsl(303, 10%, 53%);
}

h1 {
  padding: 2rem;
  text-align: center;
  font-size: 2.8rem;
  line-height: 1;
}

h2 {
  font-size: .81rem;
}

h3 {
  font-size: 0.751rem;
  font-weight: 400;
  color: hsl(333, 80%, 67%);
}

li {
  background-color: hsl(300, 24%, 96%);
  padding: 1rem;
  border-radius: 0.51rem;
  margin: 1rem 0;
  padding-top: 1.5rem;
  text-align: center;
  list-style: none;
}

span {
  font-size: 5rem;
  line-height: 2rem;
  letter-spacing: -10px;
  color: hsl(40, 100%, 50%);
}

a {
  text-decoration: none;
  color: hsl(300, 43%, 22%);
}

a:hover {
  color: hsl(303, 10%, 53%);
}

@media (min-width: 900px) {
  html {
    height: 100%;
  }

  body {
    width: 75vw;
    margin: 0rem auto;
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-size: auto;
  }

  header,
  main {
    width: 100%;
    margin: 3rem 0rem;
  }

  header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .customers {
    line-height: 1.5;
    text-align: left;
    text-justify: distribute;
  }

  p {
    font-size: 1.5rem;
    }

  main {
    height: 30%;
    flex-direction: row;
    gap: 2.5rem;
  }

  .user-review {
    height: fit-content;
    margin: 0rem 0;
    color: hsl(300, 24%, 96%);
    line-height: 1.75;
  }

  .user-review:nth-child(2) {
    margin-top: 2%;
  }
  .user-review:nth-child(3) {
    margin-top: 4%;
  }

  .customers,
  .ratings {
    flex: 1;
  }

  .customers {
    padding: 0 3vw 0 0;
  }

  .ratings {
    padding: 0 0 0 3vw;
  }

  h1 {
    padding: 1rem 3rem 2rem 0;
    text-align: left;
    font-size: calc(1vw + 2rem);
    line-height: 1;
  }

  h2 {
    font-size: 1rem;
  }

  li {
    display: flex;
    width: 80%;
    align-items: center;
  }

  li h2 {
    padding-left: 2rem;
  }

  li:nth-child(2) {
    margin-left: 10%;
  }

  li:nth-child(3) {
    margin-left: 20%;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
}
